header {
	text-align: center;
	background: url("http://vividflashcards.com/images/MainPageHeaderBackround.jpg");
	background-repeat: repeat-x;
	font-weight: bold;
	padding: 50px 0px 0px 0px;
	font-family: 'Fredoka One', cursive;
}

header ul {
	padding: 10px;
	background: -webkit-linear-gradient(bottom, rgba(0, 191, 255, 0.3), rgba(0, 191, 255, 0));
	background: -moz-linear-gradient(bottom, rgba(0, 191, 255, 0.5), rgba(0, 191, 255, 0.2));
	height: 30px;
}

header ul a {
	color: #1B98C6;
	text-decoration: none;
}

header ul a:hover {
	font-size: 30px;
}

header ul li {
	display: inline;
	padding: 0px 10px 0px 20px;
}


h1 {
	text-align: center;
	color: #1B98C6;
	font-size: 35px;
	font-family: 'Fredoka One', cursive;
}

.bodyContent {
	width: 70%;
	margin: 0 auto;
	margin-top: 3%;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	font-size: 25px;
}

.bodyContent a {
	text-decoration: none;
	color: black;
}

li {
	display: inline;
}

.sampleImage {
	width: 15%;
}

.imageCredit {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

@media (max-width: 500px) {
}																			
		
